<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /DonBNGRC/
    
    # Ne pas réécrire les fichiers/dossiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Éviter une double rewrite avec une variable ENV
    RewriteCond %{ENV:REWRITTEN} !=1
    RewriteRule ^(.*)$ public/$1 [E=REWRITTEN:1,L]
</IfModule>
